<title>ANTRIAN</title>
<style type="text/css">
	* {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 10pt;
		padding: 0;
	}
</style>
<script type="text/javascript">
	setTimeout(function () {
		window.close();
	}, 300);
	window.print();
</script>
	<div style="text-align: center; font-size: 10pt; font-weight: bold;">
		PN Jakarta Utara<br>
		<p style="text-align: center; font-size: 10pt; font-weight: 500; margin-top: 3;">Jl. R.E Martadinata No. 4 <br/> Tanjung Periok </p>
	</div>
	<div style="text-align: center; font-size: 30
    pt; font-weight: bold; margin: 15px 0 20px 0;">
		20 <br>
		<p style="text-align: center; font-size: 7pt; font-weight: bold; margin-top: 0;">8-12-2023 21:15:00</p>
	</div>
	<div style="text-align: center; font-size: 10pt;">
		<p style="font-weight: bold; text-transform: uppercase; margin-bottom: -10;">Ruang Sidang Pidana</p> <br>
		Sisa Antrian : 10 <br>
	</div>
    <br/>
	<div style="text-align: center; font-size: 9pt;">
		Silahkan menunggu antrian anda
	</div>