@import controllers.transactions.DisplayCourt
@(courtRoomList: List[DisplayCourt])

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Pemanggilan Antrian</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Pemanggilan Antrian</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <section class="col-lg-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-bullhorn"></i> &nbsp; <b>Antrian</b>
                            </h3>
                        </div>
                
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Loket <button type="button" class="btn btn-default btn-xs" onClick="reloadAntrian()"><i class="fas fa-sync"></i></button></label>
                                            <select class="form-control" id="id_court_room">
                                                <option selected value="">Pilih...</option>
                                                @for(v <- courtRoomList) {
                                                    <option value="@v.courtRoom.id">@v.courtRoom.name ( @v.courtRoom.description )</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <div class="small-box bg-success">
                                            <div class="inner text-center">
                                                <p style="font-weight: bolder;">Antrian Saat Ini</p>
                                                <span style="font-size: 70px; font-weight: bolder;" id="nomor_antrian">0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group" id="button_antrian_sebelumnya">
                                            <button type="button" class="btn btn-danger form-control"><i class="fas fa-backward"></i>&nbsp; Sebelumnya</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group" id="button_antrian_sekarang">
                                            <button type="button" class="btn btn-warning form-control"><i class="fas fa-pause-circle"></i>&nbsp; Sekarang</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group" id="button_antrian_selanjutnya">
                                            <button type="button" class="btn btn-info form-control">Selanjutnya &nbsp;<i class="fas fa-forward"></i></button>
                                        </div>
                                    </div>
                                </div> 
                            </form>

                        </div>
                    </div>
                </section>
                <section class="col-lg-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-bullhorn"></i> &nbsp; <b>Panggil Antrian Tertentu</b>
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Loket</label>
                                            <select class="form-control" id="id_court_room_manual">
                                                <option selected value="">Pilih...</option>
                                                @for(v <- courtRoomList) {
                                                    <option value="@v.courtRoom.id">@v.courtRoom.name ( @v.courtRoom.description )</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Total Antrian</label>
                                            <input type="text" class="form-control text-center" id="total_antrian_manual" placeholder="-" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Nomor Antrian</label>
                                            <input type="number" class="form-control" id="no_antri_manual" placeholder="Masukan Nomor antrian yang ingin dipanggil">
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <label>Panggil</label>
                                            <button type="button" class="btn btn-success form-control" onClick="panggilManual()"><i class="fas fa-volume-up"></i></button>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </section>
            </div>

            <div class="row">
                
            </div>
        </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script type="text/javascript">
    $(document).ready(function() {

        $('#id_court_room').change(function(){
            let id = $('#id_court_room').val();

            getQueuePanggil(id);

        });

        $('#id_court_room_manual').change(function(){
            let id_manual = $('#id_court_room_manual').val();

            getQueuePanggilManual(id_manual);
        });

    });

    function reloadAntrian() {
        let id = $('#id_court_room').val();
        getQueuePanggil(id);
    }

    function panggilManual() {
        let idCourtRoom = $('#id_court_room_manual').val();
        let numberQueue = $('#no_antri_manual').val();

        if(numberQueue == 0 || numberQueue == null) {
            Swal.fire({
                icon: "info",
                title: "Oops...",
                text: "Antrian tidak boleh 0",
            });
            return false; 
        } else {
            panggilAntrianManual(idCourtRoom, numberQueue);
            $('#no_antri_manual').val('');
        }

    }

    function getQueuePanggil(id){
        $.ajax({
            type: 'GET',
            url: 'api/queue/queue_number?id_court_room='+id,
            cache: true,
            success: function(res){
                console.log(res);
                
                $('#nomor_antrian').html(res.data.queue_number)

                manageButtonPanggil(res.data.id_queue_prev, res.data.id_queue_now, res.data.id_queue_next);
                
            },
            error: function(e){
                if(e.data == undefined){
                    Swal.fire({
                        icon: "info",
                        title: "Oops...",
                        text: "Antrian Tidak Ada!!",
                    });

                    manageButtonPanggil(null, null, null);
                    $('#nomor_antrian').html('0')

                } else {
            
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: e.responseText,
                    });
                }
            }
        })
    }

    function getQueuePanggilManual(id){
        $.ajax({
            type: 'GET',
            url: 'api/queue/queue_number?id_court_room='+id,
            cache: true,
            success: function(res){
                console.log(res);
                
                $('#total_antrian_manual').val(res.data.total_queue)

            },
            error: function(e){
                if(e.data == undefined){
                    Swal.fire({
                        icon: "info",
                        title: "Oops...",
                        text: "Antrian Tidak Ada!!",
                    });

                    manageButtonPanggil(null, null, null);
                    $('#total_antrian_manual').val('0')

                } else {
            
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: e.responseText,
                    });
                }
            }
        })
    }

    function manageButtonPanggil(idQueuePrev, idQueueNow, idQueueNext) {
        $('#button_antrian_sebelumnya').html('<button type="button" class="btn btn-danger form-control" id="button_antrian_sebelumnya" onClick="return panggilAntrian('+idQueuePrev+')"><i class="fas fa-backward"></i>&nbsp; Sebelumnya</button>')
        $('#button_antrian_sekarang').html('<button type="button" class="btn btn-warning form-control"  id="button_antrian_sekarang" onClick="return panggilAntrian('+idQueueNow+')"><i class="fas fa-pause-circle"></i>&nbsp; Sekarang</button>')
        $('#button_antrian_selanjutnya').html('<button type="button" class="btn btn-info form-control" id="button_antrian_selanjutnya" onClick="return panggilAntrian('+idQueueNext+')">Selanjutnya &nbsp;<i class="fas fa-forward"></i></button>')
    }

    function panggilAntrian(id){
        if(id == null) {
            Swal.fire({
                icon: "info",
                title: "Oops...",
                text: "Tidak ada antrian berikutnya...",
            });

            return false;
        }

        let jsonData = {
            'id_queue': parseInt(id)
        }

        $.ajax({
            type: 'PUT',
            url: 'api/queue/call_queue',
            data: JSON.stringify(jsonData),
            cache: true,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function(res){
                console.log(res);
                
                $('#nomor_antrian').html(res.data.queue)
                manageButtonPanggil(res.data.id_queue_prev, res.data.id_queue_now, res.data.id_queue_next);
                
                let jsonPush = {
                    'no_antri': parseInt(res.data.queue),
                    'file_sound': res.data.court_room.file_sound,
                    'id_court_room': res.data.court_room.id,
                    'loket': res.data.court_room.name,
                    'panggil': 'ya',
                }

                $.ajax({
                    type: 'POST',
                    url: 'queue/push_display',
                    data: JSON.stringify(jsonPush),
                    cache: true,
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    complete: function(xhr, status) {
                    console.log(status)
                        $(document).Toasts('create', {
                            title: 'Berhasil!!',
                            class: 'bg-success',
                            autohide: true,
                            delay: 1000,
                            body: 'Antrian : '+res.data.queue+' Berhasil Terpanggil'
                        })
                    }
                })
                
            },
            error: function(e){
                if(e.data == undefined){
                    Swal.fire({
                        icon: "info",
                        title: "Oops...",
                        text: "Antrian Tidak Ada!!",
                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: e.responseText,
                    });
                }
            }
        })
    }

    function panggilAntrianManual(idCourtRoom, number){
        let jsonManual = {
            'id_court_room': idCourtRoom,
            'queue_number': number,
        }

        $.ajax({
            type: 'GET',
            url: 'api/queue/get_by_param',
            data: '&id_court_room='+idCourtRoom+'&queue_number='+number,
            cache: true,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function(res){
                console.log(res);
                
                let jsonPush = {
                    'no_antri': parseInt(res.data.queue_number),
                    'file_sound': res.data.court_room.file_sound,
                    'id_court_room': res.data.id_court_room,
                    'loket': res.data.court_room.name,
                    'panggil': 'ya',
                }

                $.ajax({
                    type: 'POST',
                    url: 'queue/push_display',
                    data: JSON.stringify(jsonPush),
                    cache: true,
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    complete: function(xhr, status) {
                        $(document).Toasts('create', {
                            title: 'Berhasil!!',
                            class: 'bg-success',
                            autohide: true,
                            delay: 1000,
                            body: 'Antrian : '+res.data.queue_number+' Berhasil Terpanggil'
                        })
                    }
                })
                
            },
            error: function(e){
                if(e.data == undefined){
                    Swal.fire({
                        icon: "info",
                        title: "Oops...",
                        text: "Antrian Tidak Ada!!",
                    });
                } else {
            
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: e.responseText,
                    });
                }
            }
        })
    }
</script>
  
