@import controllers.transactions.DisplayCourt
@(runningTextList: List[RunningText], courtRoomList: List[DisplayCourt])


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Antrian PN | Login</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="@routes.Assets.versioned("plugins/fontawesome-free/css/all.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("plugins/icheck-bootstrap/icheck-bootstrap.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("dist/css/adminlte.min.css?v=3.2.0")" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="@routes.Assets.versioned("plugins/jquery/Queue.src.js")"></script>

    <style>
        * {
            font-family: 'Poppins';
            padding: 0;
        }

        .font-primary{
            color: #FFFFFF;
        }

        .tanggal_terkini {
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 900;
        }

        .jam_terkini {
            color: #FFFFFF;
            font-size: 36px;
            font-weight: 900;
        }

        .box-container {
            background-color: #3C7D82;
            border-radius: 10px;
            margin: 15px;
            box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
            height: 90vh;
            width: 90wh;
        }

        .box-video {
            display: flex;
            align-items: center;
            background-color: #176B87;
            border-radius: 10px;
            margin: 15px;
            padding: 15px;
            box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.30);
            height: 67vh;
        }

        .box-antrian {
            background-color: #176B87;
            border-radius: 10px;
            margin: 15px;
            padding: 15px;
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            overflow: auto;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.30);
            height: 67vh;
        }

        .container {
            /* background-color: paleturquoise; */
            padding: 1.4rem 2rem;
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .item {
            flex: 0 0 calc(50% - 2%);
            color: white;
            padding: 20px;
            margin: 5px;
            height: 20vh;
            text-align: center;
            cursor: pointer;
            border-radius: 10px;
            background-color: #224652;
            box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        .ic-ruang-sidang {
            width: 10rem;
            height: 6rem;
            text-align: center;
            display: block;
            margin: 1rem auto 1rem auto;
            cursor: pointer;

            font-family: Poppins;
            font-size: 100px; 
            font-style: normal; 
            font-weight: 1000; 
            line-height: 100%;  
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.40);
            
        }

        .nama-ruang-sidang {
            
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 20px;
            cursor: pointer;
            color: white;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.56);
            width: 100%;
            padding: 0 5px;
            display: block;
            padding:8px
        }
        
        .no-antri,
        .sisa-antrian {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 33px;
            color: #152C58;
        }

        .sisa-antrian {
            margin-top: -2.5%;
        }
    </style>
  </head>
  <body class="hold-transition" style="background-color: #053B50;">
    <div class="content px-2 py-2">
        <div class="box-container">
            <!-- Navbar -->
            <nav class="navbar d-flex justify-content-between align-item-center py-3">
                <!-- Logo and Company -->
                <div class="col-md-4">
                    <div class="logo-header d-flex align-items-center">
                        <img src="@routes.Assets.versioned("images/logo_pn.png")" style="width: 65px; margin-right: 15px" alt="logo">
                        <span class="mt-3 mb-2 text-uppercase font-primary" style="width: 60%; font-weight: 1000; font-size: 30px;" onclick="openModalCluster()">Pengadilan Negeri Jakarta Utara</span>
                    </div>
                </div>
                <!-- datetime Clock -->
                <div class="col-md-4">
                    <div class="text-right">
                        <div class="tanggal_terkini" id="tanggal_terkini">Ahad, 01 Januari 1970</div> 
                        <div class="jam_terkini" id="jam_terkini">00:00:00</div>  
                    </div>
                </div>
            </nav>
            
            <section class="content">
                <div class="row">
                    <!-- Video -->
                    <div class="col-lg-7">
                        <div class="box-video" style="">
                            <video width="100%" autoplay loop muted style="border-radius: 10px; box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.25);">
                                <source src="@routes.Assets.versioned("video/video_monitor.mp4")" type="video/mp4">
                            </video>
                        </div>
                    </div>

                    <!-- Antrian -->
                    <div class="col-lg-5    ">
                        <div class="box-antrian">
                            @for(v <- courtRoomList) {
                                <div class="item" id="ruang_@v.courtRoom.id">
                                    <div class="example1">
                                        <div class="nama-ruang-sidang" id="nama_ruang" style="line-height:30px">@v.courtRoom.description</div>
                                        <div class="ic-ruang-sidang" id="queue_@v.courtRoom.id">0</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="container">
                
            </section> -->

            <section class="content-footer text-center font-primary" style="font-size: 12px; font-weight: 300;">
                <center>
                </center>
            </section>
            
        </div>
        
    </div>
    <div class="footer w-100"
        style="background: #3C7D82; opacity:100%; color: #E8FBFF; font-size: 17px; position: fixed;bottom: 0;">
        <marquee direction="" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
            <div class="holder py-1">
                @for(message <- runningTextList) {
                <span class="text-container" style="font-weight: 400">@message.description</span>&nbsp;&nbsp;&nbsp;&nbsp;
                }
            </div>
        </marquee>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_cluster" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #0F123D;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pengaturan Ruang</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModalCluster()"></button>
                </div>
                <div class="modal-body">
                    <select class="form-control selectpicker" multiple="multiple" data-live-search="true" id="set_ruang" title="Pilih Ruang">
                        @for(v <- courtRoomList) {
                            <option value="ruang_@v.courtRoom.id">@v.courtRoom.description</option>
                        }
                    </select>
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="@routes.Assets.versioned("plugins/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("dist/js/adminlte.min.js?v=3.2.0")"></script>

    <script type="text/javascript">

        var queue = new Queue();
        var static_queue = new Queue(); 
        var nyala = false;
        var isAntri = true;

        var templatePlugins = function(){
            var tp_clock = function(){
                function tp_clock_time(){
                    var now     = new Date();
                    var hour    = now.getHours();
                    var minutes = now.getMinutes();
                    var seconds = now.getSeconds();;                    
                    
                    hour = hour < 10 ? '0'+hour : hour;
                    minutes = minutes < 10 ? '0'+minutes : minutes;
                    seconds = seconds < 10 ? '0'+seconds : seconds;
                    
                    $("#jam_terkini").html(hour+"<span>:</span>"+minutes+"<span>:</span>"+seconds);
                }
                if($("#jam_terkini").length > 0){
                    
                    tp_clock_time();
                    
                    window.setInterval(function(){
                        tp_clock_time();                    
                    },100);
                    
                }
            }
            
            var tp_date = function(){
                
                if($("#tanggal_terkini").length > 0){
                    
                    var days = ["Minggu","Senin","Selasa","Rabu","Kamis","Jum'at","Sabtu"];
                    var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
                            
                    var now     = new Date();
                    var day     = days[now.getDay()];
                    var date    = now.getDate();
                    var month   = months[now.getMonth()];
                    var year    = now.getFullYear();
                    
                    $("#tanggal_terkini").html(day+", "+date+" "+month+" "+year);
                }
                
            }
            
            return {
                init: function(){
                    tp_clock();
                    tp_date();
                }
            }
        }();

        $(document).ready(function() {
            test_antrian();
            $('.selectpicker').change(function () {
                var selectedItem = $('.selectpicker').val();
            });

            var storageNow = JSON.parse(localStorage.getItem("ruangMonitor"));
            $('.selectpicker').val(storageNow).attr('selected','selected');
            storageNow.forEach(element => { 
                $('#'+element).removeClass("d-none");
            });

            var evtSource = new EventSource('/queue/notif_display_channel');
            evtSource.addEventListener("message", function(e) {
                var x = JSON.parse(e.data);
                var obj = x.data;
                console.log(obj);

                if(obj.panggil == 'ya'){
                    panggil_antrian(obj.no_antri, obj.id_court_room, obj.file_sound);
                }
                
            }, false);

            templatePlugins.init();

            $('#set_ruang').on('change', function() {
                var ruang = $('#set_ruang').val();
                var now = JSON.parse(localStorage.getItem("ruangMonitor"));
                // Check browser support
                if (typeof(Storage) !== "undefined") {
                    if (now != null) {
                        localStorage.removeItem("ruangMonitor");
                    }
                    // Store
                    localStorage.setItem("ruangMonitor", JSON.stringify(ruang));
                } 
                now.forEach(element => { 
                    $('#'+element).removeClass("d-none");
                });

                console.log(now)
            });

        });

        function openModalCluster() {
            $('#modal_cluster').modal('show');
        }
        function closeModalCluster() {
            $('#modal_cluster').modal('hide');
        }

        function panggil_antrian(number, id_court_room, sound){
            if(number > 0 && nyala == true){
                var item = number+'#'+id_court_room+'#'+sound;
                console.log(item);
                // display antrian dan cookie
                manage_display(number, id_court_room);
                // enqueue an item
                queue.enqueue(item);
                static_queue.enqueue(item);
                var static_length = static_queue.getLength();
                var length = queue.getLength();
                if (static_length == 1) {
                    ambil_antrian();
                }
            }
        }

        function test_antrian(){
            const end = new Audio('/api/speech/audio/end.mp3');
            end.addEventListener('ended', function(){
                nyala = true;
            });
            end.play();
            // ambil_antrian();  
        }

        function ambil_antrian(){
            // get the item at the front of the queue
            // queue.dequeue();
            var item = queue.peek();
            var length = queue.getLength();
            var audio = (item != undefined)?item.split('#'):null;
            console.log(length+' ambil_antrian2');

            if (length > 0) {
                console.log(audio[0]+', '+audio[1]+', '+audio[2]);
                play_antrian(audio[0],audio[1],audio[2]);

                queue.dequeue();
            }else{
                var static_length = static_queue.getLength();
                for(var i = 0; i <= static_length; i++){
                    static_queue.dequeue();
                }
                console.log('Akhir antrian : ' + static_queue.getLength());
            }
        }

        function play_antrian(number, court_room, sound) {
            // var next_antrian = true;
            if(number >= 0){
            	var words = "";
            	var arr_number = ["nol", "satu", "dua", "tiga", "empat", "lima", "enam", "tujuh", "delapan", "sembilan", "sepuluh", "sebelas"];

	            if(number < 1000){
	                if(number<12)
	                {
	                    var array = [arr_number[number]];
	                }
	                else if(number<20)
	                {
	                    var array = [arr_number[number%10], 'belas'];
	                }
	                else if(number<100)
	                {
	                    var num = number.toString();
	                    var arr_num = num.split("").reverse("");
	                    if (arr_num[0] == '0') 
	                    {
	                        var array = [arr_number[Math.floor(number/10)], 'puluh'];
	                    }else{
	                        var array = [arr_number[Math.floor(number/10)], 'puluh', arr_number[number%10]];
	                    }
	                }
	                else if(number == 100)
	                {
	                    var array = ['seratus'];
	                }
	                else if((number > 100) && (number < 112))
	                {
	                    var array = ['seratus', arr_number[number%100]];
	                }
	                else if((number > 111) && number < 120) 
	                {
	                    var array = ['seratus', arr_number[number%10], 'belas'];
	                }
	                else if((number > 119) && (number<200))
	                {
	                    if(number == 120 || number == 130  || number == 140  || number == 150  || number == 160  || number == 170  || number == 180  || number == 190 ){
	                        var array = ['seratus', arr_number[Math.floor((number - 100)/10)], 'puluh'];
	                    }else{
	                        var array = ['seratus', arr_number[Math.floor((number - 100)/10)], 'puluh', arr_number[number%10]];
	                    }
	                }
	                else if(number > 199 || number < 1000)
                    {
                        var num = number.toString();
                        var arr_num = num.split("").reverse("");
                        var var_puluhan = Math.floor((number - (Math.floor(number/100) * 100))/10);
                        var var_satuan = Math.floor(number - (Math.floor(number/100) * 100))%10;
                         if(arr_num[1] == '0' && arr_num[0] == '0'){
                            var array = [arr_number[Math.floor(number/100)], 'ratus'];
                        }else if(arr_num[1] == '1' && arr_num[0] == '0'){
                            var array = [arr_number[Math.floor(number/100)], 'ratus', 'sepuluh'];
                        }else if(arr_num[1] == '1' && arr_num[0] == '1'){
                            var array = [arr_number[Math.floor(number/100)], 'ratus', 'sebelas'];
                        }else if(arr_num[1] == '1' && parseInt(arr_num[0]) > 1){
                            var array = [arr_number[Math.floor(number/100)], 'ratus', arr_number[parseInt(arr_num[0])], 'belas'];
                        }else if(arr_num[1] == '1' && parseInt(arr_num[0]) > 1){
                            var array = [arr_number[Math.floor(number/100)], 'ratus', arr_number[parseInt(arr_num[0])], 'belas'];
                        }else if(arr_num[1] == '0' && parseInt(arr_num[0]) > 0){
                            var array = [arr_number[Math.floor(number/100)], 'ratus', arr_number[var_satuan]];
                        }else if(parseInt(arr_num[1]) > 1 && parseInt(arr_num[0]) == 0){
                            var array = [arr_number[Math.floor(number/100)], 'ratus', arr_number[var_puluhan], 'puluh'];
                        }else{
                            var array = [arr_number[Math.floor(number/100)], 'ratus', arr_number[var_puluhan], 'puluh', arr_number[var_satuan]];
                        }
                    }
	            }else{
	                var num = number.toString();
	                var arr_num = num.split("");
	                var array = [];
	                arr_num.forEach(function(value, i, myArray) {
	                    array[i] = arr_number[parseInt(value)];
	                }); 
	            }
	           	var nilai = text_speech(array, (array.length - 1), sound, court_room);
            }
        }

        function text_speech(myArray, last, sound, court_room) {
            text_speech_court_room(myArray, last, sound, court_room);
        }

        function text_speech_court_room(myArray, last, sound, court_room) {
            if(myArray != undefined){
                // untuk awalan
                const end = new Audio('/api/speech/audio/end.mp3');
                const start = new Audio('/api/speech/audio/start.mp3');
                const nomor_antrian = new Audio('/api/speech/audio/nomor_antrian.mp3');
                const poli = new Audio('/api/speech/audio/' + sound);
                const silahkan = new Audio('/api/speech/audio/silahkan_menuju.mp3');

                start.addEventListener('ended', function(){
                    nomor_antrian.play();
                });
                start.play();

                // nomor antrian
                myArray.forEach(myFunction);
                nomor_antrian.addEventListener('ended', function(){
                    myArray[0].play();
                });
                
                // untuk 'silahkan menuju ke'
                myArray[last].addEventListener('ended', function(){
                    silahkan.play();
                });

                // untuk 'nama poli'
                silahkan.addEventListener('ended', function(){
                    poli.play();
                });

                poli.addEventListener('ended', function(){
                    end.play();
                });

                end.addEventListener('ended', function(){
                    ambil_antrian();
                });
            }else{
                console.log('undefined');
                exit;
                return 'number';
            }
        }

        function myFunction(value, i, myArray) {
            var link = `/api/speech/audio/${value}.mp3`;
            myArray[i] = new Audio(link);
            myArray[i].addEventListener('ended', function(){
                if (myArray[i+1] != undefined) {
                    myArray[i+1].play();
                }
            });
        }

        function manage_display(no_antri) {
            $('#no_antri').html(pad(no_antri, 3));
            $(`#queue_${kd_poli}`).html(pad(no_antri, 3));
        }

        function pad(number, length) {
            let str = '' + number;
            while (str.length < length) {
                str = '0' + str;
            }
            return str;
        }
        
    </script>
  </body>
</html>

