<div class="content-wrapper" id="dashboard">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="antrian_total">0</h3>

                <p>Antrian Hari Ini</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-stalker"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 id="antrian_terpanggil">53</h3>

                <p>Antrian Terpanggil</p>
              </div>
              <div class="icon">
                <i class="ion ion-volume-medium"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 id="antrian_belum_terpanggil">44</h3>

                <p>Antrian Belum dipanggil</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>
          
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row py-5">
          <section class="col-lg-12">
            <div class="d-flex justify-content-center">
                <h1 class="text-center" style="font-weight: bolder;">SELAMAT DATANG :)<br/>ANTRIAN PENGADILAN NEGERI JAKARTA UTARA</h1>
              </div>
          </section>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        getAntrian();                    
    })

    function getAntrian() {
      todayDate = dateNowFormat();

      $.ajax({
        type: 'GET',
            url: 'api/dashboard',
            data: '&date='+todayDate,
            cache: true,
            success: function(data) {
              console.log(data.data);

              $('#antrian_total').html(data.data.total)
              $('#antrian_terpanggil').html(data.data.called)
              $('#antrian_belum_terpanggil').html(data.data.remaining)
            }
      })
    }

    function dateNowFormat() {
      let today = new Date();
      var yyyy = today.getFullYear().toString();
      var mm = (today.getMonth()+1).toString();
      var dd  = today.getDate().toString();

      var mmChars = mm.split('');
      var ddChars = dd.split('');

      return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
    }
  </script>