<!DOCTYPE html>
<html lang="en">
    @views.html.layouts.header()

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="preloader flex-column justify-content-center align-items-center">
          <img class="animation__shake" src="@routes.Assets.versioned("dist/img/AdminLTELogo.png")" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- ./wrapper -->
        <div class="wrapper">
          @views.html.layouts.navbar()

          @views.html.layouts.sidebar()
            <div id="main-content">

            </div>
        </div>
        <!-- ./wrapper -->

        @views.html.layouts.script_js()
    </body>
</html>
