@import models.RunningTextData
@(runningTextList: List[RunningText])

<!DOCTYPE html>
<html lang="en">
    @views.html.layouts.header()

    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
        <div class="preloader flex-column justify-content-center align-items-center">
          <img class="animation__shake" src="@routes.Assets.versioned("dist/img/AdminLTELogo.png")" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- ./wrapper -->
        <div class="wrapper">
          @views.html.layouts.navbar()

          @views.html.layouts.sidebar()
            <div id="main-content">

            </div>
        </div>
        <div class="footer w-100"
             style="background: #06a9f3; opacity:100%; color: #E8FBFF; font-size: 20px; position: fixed;bottom: 0;">
            <marquee direction="" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
                <div class="holder py-3">
                    @for(message <- runningTextList) {
                    <span class="text-container" style="font-weight: 400">@message.description</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    }
                </div>
            </marquee>
        </div>
        <!-- ./wrapper -->

        @views.html.layouts.script_js()
    </body>
</html>
