<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="@routes.Assets.versioned("dist/img/AdminLTELogo.png")"
    alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
    style="opacity: .8">
    <span class="brand-text font-weight-light">Antrian PN</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <!-- <li class="nav-item menu-open"> -->
        <li class="nav-item">
            <a class="nav-link active" onclick="show_page('', 'Dashboard','/dashboard','fas fa-tachometer-alt')">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-database"></i>
            <p id="masterdata">Masterdata<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" onclick="show_page('masterdata', 'Ruang Sidang', '/court_room', 'fa fa-align-right')">
                <i class="far fa-building nav-icon"></i>
                <p>Ruang Sidang</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="show_page('masterdata', 'Running Text','/running_text','fa fa-align-right')">
                <i class="fa fa-align-right nav-icon"></i>
                <p>Running Text</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="show_page('masterdata', 'Video','/video','fa fa-align-right')">
                <i class="far fa-file-video nav-icon"></i>
                <p>Video</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="show_page('', 'Antrian','/queue','fas fa-th')">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Antrian
              <span class="right badge badge-danger">!</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<script type="text/javascript">
  function show_page(module, title, url, icon) {
  // TODO: need to improve parameter and variable to set on local storage
        localStorage.setItem("queue_menu", title);
        localStorage.setItem("queue_menu_url", url);
        localStorage.setItem("queue_module", module);
        localStorage.setItem("queue_icon", icon);

        //$('#page_title_icon').removeClass().addClass('fa '+icon);
        $('#page_title').html(title);

        $.ajax({
          url: url,
          cache: false,
          success: function(data) {
            $('#main-content').empty();
            $('#main-content').html(data);
          },
          error: function(e){
            console.log(e)
            error_response(e)
          }
        });

        let $ul = $('#sidebar')
        $ul.find($('li a.active').removeClass('active'))
        if(!module){
          const menuOpen = $ul.find($('li.menu-open'))
          //menuOpen.find($('ul')).hide(500)
          menuOpen.find($('ul')).slideUp()
          menuOpen.removeClass('menu-is-opening')
          menuOpen.removeClass('menu-open')
        }else{
          console.log($('ul.nav-treeview').siblings().find($(`p#${module}`)).parents('li').addClass('menu-is-opening menu-open'))
        }

        // add active class
        const navItems = $ul.find($('li.nav-item'))
            navItems.find($(`p:contains(${title})`)).parent().addClass('active')

        //var $ul = $('.nav.side-menu');
        //console.log($('body').hasClass('nav-sm'))
        //if ($('body').hasClass('nav-sm') && $ul.find($('li.active')).length) {
          //  var $active_li = $ul.find($('li.active'))
            //$($active_li.children()[1]).slideUp();
            //$active_li.removeClass('active');
        //}
    }

    function gotohome() {
      show_page('', 'Home' ,'home', 'fa-home');
    }
</script>
